[submodule "fuzzers/fuzzorigin"]
	path = ipcrafter/fuzzers/fuzzorigin
	url = gogs@git.ias.cs.tu-bs.de:browser-ipc-fuzzing/fuzzorigin.git
[submodule "generator/mdn"]
	path = generator/mdn
	url = https://github.com/mdn/content.git
